
*.db
*.db-wal
*.db-shm
msvc15/build/.vs/dos_dev/v16/.suo
*.opendb
*.recipe
*.lastbuildstate
*.tlog
*.obj
*.log
*.idb
*.pdb
*.res
*.exe
*.map
*.dll
*.exp
*.ilk
*.lib
allegro/
djgpp/
djgpp.bat
dosbox.bat
dosbox/
tools/
Debug/
*.SWP
*.o
*.ipch

sample/16_fox/dist/res
