
*.db
*.db-wal
*.db-shm
msvc15/build/.vs
*.opendb
*.recipe
*.lastbuildstate
*.tlog
*.obj
*.log
*.idb
*.pdb
*.res
*.exe
*.map
*.dll
*.exp
*.ilk
*.lib
allegro/
djgpp/
djgpp_linux/
djgpp.bat
dosbox.bat
dosbox/
tools/
Debug/
*.SWP
*.o
*.ipch
*.txt
sample/28_agup/lib/release/libagup.a
